In [1]:
from finquant.portfolio import build_portfolio
from finquant.efficient_frontier import EfficientFrontier
import pandas as pd
import numpy as np
import quandl
import datetime
from finquant.moving_average import ema
import matplotlib.pyplot as plt

Bad key "text.kerning_factor" on line 4 in
C:\Users\amuni\Anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
# Build portfolio for small banks, assuming we are investing $1000 for each of the banks

small_banks = ['LB.TO', 'CWB.TO', 'EQB.TO', 'HCG.TO']
start_date = datetime.datetime(2019, 1, 1)
end_date = datetime.datetime(2020, 6, 30)
small_banks_pf = build_portfolio(names=small_banks, start_date=start_date, end_date=end_date, data_api="yfinance")
small_banks_pf.data.head(5)

[*********************100%***********************]  4 of 4 completed

                LB.TO     CWB.TO     EQB.TO  HCG.TO
Date
2019-01-02  35.208340  25.046080  59.233109   15.00
2019-01-03  35.317451  24.942389  59.944649   15.59
2019-01-04  35.944870  25.866182  60.704918   15.77
2019-01-07  38.199951  26.017002  60.870625   15.91
2019-01-08  38.609135  26.280945  61.260502   15.98

In [3]:
# Build portfolio for big banks, assuming we are investing $1000 for each of the banks

big_banks = ['BNS.TO', 'TD.TO', 'BMO.TO', 'RY.TO', 'NA.TO', 'CM-PQ.TO']
start_date = datetime.datetime(2019, 1, 1)
end_date = datetime.datetime(2020, 6, 30)
big_banks_pf = build_portfolio(names=big_banks, data_api="yfinance")
big_banks_pf.data.head(5)

[*********************100%***********************]  6 of 6 completed

              BNS.TO     TD.TO    BMO.TO     RY.TO     NA.TO  CM-PQ.TO
Date
1995-01-12  2.371537  2.094515  4.293557  2.619017  1.493232       NaN
1995-01-13  2.407162  2.106999  4.360152  2.643960  1.473861       NaN
1995-01-16  2.455306  2.133011  4.468807  2.693845  1.493232       NaN
1995-01-17  2.419679  2.120525  4.424992  2.656931  1.473861       NaN
1995-01-18  2.443750  2.106999  4.447775  2.681874  1.514218       NaN

In [4]:
ax = pf.data.plot(secondary_y=["CM.TO", "BNS.TO"], grid=True, figsize=(8,8))
# computing exponential moving average and plotting it
ema(pf.data).plot(ax=ax, secondary_y=["WIKI/MCD", "WIKI/DIS"])
plt.show()

NameError: name 'pf' is not defined

In [ ]:
# Efficient Frontier

# Based on the **Efficient Frontier**, the portfolio can be optimised for
#  - minimum volatility
#  - maximum Sharpe ratio
#  - minimum volatility for a given target return
#  - maximum Sharpe ratio for a given target volatility

# Set parameters for the efficient frontier
freq = 1

# creating an instance of EfficientFrontier
ef = EfficientFrontier(pf.comp_mean_returns(freq=freq), pf.comp_cov())

# # computing and plotting efficient frontier of pf
# pf.ef_plot_efrontier()
# # adding markers to optimal solutions
# pf.ef_plot_optimal_portfolios()
# # and adding the individual stocks to the plot
# pf.plot_stocks()
# plt.show()

# optimisation for minimum volatility
# print(ef.minimum_volatility())
# printing out relevant quantities of the optimised portfolio
(expected_return, volatility, sharpe) = ef.properties(verbose=True)
# plotting efficient frontier
# ef.plot_efrontier()
# adding markers to optimal solutions
# pf.ef.plot_optimal_portfolios()
# and adding the individual stocks to the plot
# pf.plot_stocks()
# plt.show()